.Editor-wraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Editor-textarea {
  font-size: 20px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.Editor-button{
  font-size: 18px;
  color: white;
  background-color: #62ADD5;
  border-width: 1px;
  border-radius: 3px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

