.Main {
  text-align: center;
}

.Main-header {
  background-color: #62ADD5;
  height: auto;
  padding: 15px;
  color: white;
}

.Main-header-text {
  margin: 0px;
  font-size: 30px;
}

.Main-intro {
  font-size: large;
}

.Main-body {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.Main-left-panel {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
