.Phone-button {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  background: white;
  align-items: center;
}

.Phone-button:focus {
  outline: none;
  background-color: #EBEAEA;
}

.Phone-button-number {
  font-size: 30px;
}

.Phone-button-simbols {
  font-size: 20px;
  color: grey;
}